header {
  display: flex;
  justify-content: right;
}

.header-logo {
  height: 50px;
  margin: 20px;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

.option-button {
  height: 100px;
  width: 600px;

  margin: 20px;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;

  display: grid;
  place-items: center;
}

.option-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
}

.user-lookup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 15vh;
}

.user-lookup-page > form {
  width: 400px;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 40px;
}

.user-lookup-page > form > * {
  margin: 10px;
  height: 50px;
  width: 100%;
  align-content: center;
  text-align: center;
}

.user-details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10vh;
}

.user-info-card {
  min-width: 600px;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px 40px;
}

.info-card-title {
  font-weight: bold;
  margin: 50px 0;
}

.info-card-attribute {
  font-weight: bold;
}

.user-info {
  margin-bottom: 20px;
}

.info-card-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-info-card-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info-card-buttons > button {
  min-height: 40px;
  min-width: 200px;
  margin: 10px;
  padding: 10px;
}

.create-user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10vh;
}

.create-user-page > form {
  width: 600px;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  padding: 20px 40px;
}

.create-user-page > form > button {
  height: 40px;
  width: 150px;
  margin: 10px;
  align-self: center;
}

.create-user-form-grid {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.create-user-form-partition {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center
}

.create-user-form-partition > label {
  font-size: 75%;
}

.create-user-form > .form-title {
  margin: 20px;
  align-self: center;
}

.go-back {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  font-size: 80%;
  font-weight: bold;
}

.go-back:hover {
  color: white;
  cursor: pointer;
}
