:root {
  --background-image: url(@/assets/background.png);
}

body {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  font-family: Arial, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
