:root {
  --background-image: url(@/assets/background.png);
}

body {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  font-family: Arial, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
  background-color: #C50852;

  font: inherit;
  color: white;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 0;
}

button:hover {
  cursor: pointer;
}

label {
  background-color: transparent;
  font-weight: bold;
}

input, select {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 0;

  font: inherit;
  font-size: 75%;

  margin: 5px 0;
  padding-left: 10px;
  box-sizing: border-box; /* padding won't increase size */

  min-height: 30px;
}

small {
  font-size: 60%;
}

select option:first-child {
  color: gray;
}
