:root {
  --background-image: url(./public/background.png);
}

body {
  background-image: var(--background-image); /* Replace with your image path */
  background-size: cover; /* Makes the image cover the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}
